{% extends "base.twig" %}
{% block body %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Welcome!</h3>
            <img src="/assets/img/ln.png" class="rounded float-left" alt="LateNight Group" width="50" height="50">
            <!--nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
            </nav-->
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">PW Box</h1>
        <p class="lead">PW Box is a service to upload and store your files on the cloud.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary ">Sing up</a>
            <!--a onclick = "window.open("/login.php");" class="btn btn-lg btn-info ">Log in</a-->
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Website made by <a href = "https://twitter.com/raxe88">Gerard Parareda</a>, <a href = "https://twitter.com/rceci65">Roger Cecilia</a> and <a href = "https://es.linkedin.com/in/arnau-mias-171469116">Arnau Miàs</a>.</p>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/vendor/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
{% endblock %}