html,
body {
    height: 100%;
}

body {
    background-color: rgba(170,170,170,0.5);
}

.logo {
    margin-right: 5px;
}

.utils img{
    margin: -3px 5px 5px;
}

.utils{
    background-color: rgb(168, 168, 168);
}

.utils img:hover{
    filter: contrast(350%);
}

td img,p,.actions{
    display: inline;
}

td:hover p{
    text-decoration: underline;
}

td .actions img:hover{
    filter: contrast(350%);
}